Source: openmediavault-sonarr
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
XB-Plugin-Section: downloaders

Package: openmediavault-sonarr
Architecture: all
Depends: libmono-cil-dev (>= 3.1),
         sqlite3 (>= 3.7),
         mediainfo (>= 0.7.52),
         openmediavault (>= 3.0.13),
         ${misc:Depends}
Homepage: https://sonarr.tv/
Description: OpenMediaVault Sonarr plugin
 Sonarr is a an internet PVR
